@font-face {
    font-family: "Water Brush";
    src: url("../assets/fonts/Water Brush/WaterBrush-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}