@font-face {
    font-family: "Yeseva One";
    src: url("../assets/fonts/Yaseva One/YesevaOne-Regular.woff2") format("woff2"),
        url("../assets/fonts/Yaseva One/YesevaOne-Regular.woff") format("woff"),
        url("../assets/fonts/Yaseva One/YesevaOne-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

