* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #00263B;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.nav-bg {
    position: fixed;
    background-color: #00263B;
    filter: blur(0.4vw);
    z-index: 10;
    top: -2.5vw;
    left: -2.5vw;
    width: calc(100% + 5vw);
    height: 7vw;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 4.5vw;
    position: fixed;
    background-color: transparent;
    z-index: 11;
    top: 0;
    left: 0;
}

.navbar .logo {
    width: 10vw;
    height: 4vw;
    padding: 0 10vw;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .logo a {
    text-decoration: none;
    color: white;
    font-weight: 400;
    gap: 10px;
    font-family: "Poppins", sans-serif;
    font-size: 2vw;
    line-height: 2.2vw;
}

.navbar .menus {
    width: 30vw;
    height: 4vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10vw;
}

.navbar .menus a {
    text-decoration: none;
    color: white;
    padding: 1vw 1.5vw;
    gap: 10px;
    font-family: "Poppins", sans-serif;
    font-size: 1vw;
    line-height: 1.8vw;
}

.navbar .menus a::after {
    content: "";
    display: block;
    width: 0;
    height: 0.15vw;
    background-color: #FF5200;
    transition: 0.5s ease-in-out;
}

.navbar .menus a:hover {
    color: #FF5200;
    transition: 0.5s ease-in-out;
}

.navbar .menus a:hover::after {
    width: 100%;
}

.navbar .menus a:nth-child(1) {
    font-weight: 700;
}

.navbar .menus a:not(:first-child){
    font-weight: 400;
}

.burger {
    width: 5vw;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    display: none;
}

.burger div {
    width: 5vw;
    height: 3px;
    background-color: white;
    border: none;
}

.active-nav {
    justify-content: center;
    align-items: center;
}

.active-nav div {
    transition: 0.5s ease-in-out;
    position: absolute;
}

.active-nav div:nth-child(2) {
    display: none;
}

.active-nav div:first-child {
    transform: rotate(45deg);
}

.active-nav div:last-child {
    transform: rotate(-45deg);
}

@keyframes revealLoad {
    from {
        opacity: 0;
        transform: translateX(-5vw);
    } to {
        opacity: 1;
        transform: translateX(0);
    }
}

.inner-header {
    animation: revealLoad 0.7s ease-out;
}

.header {
    position: absolute;
    width: 75%;
    right: 0;
    top: 6vw;
}

.header > img {
    width: 100%;
    height: fit-content;
}

.inner-header {
    width: 60%;
    height: 42vw;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 2;
}

.content1 {
    background-color: transparent;
    z-index: 3;
    margin-top: 10vw;
    margin-left: 10vw;
    height: 41.5vw;
    width: 100%;
}

.title {   
    margin-top: 4.5vw;
}

.title p {
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    color: white;
    font-size: 2.85vw;
    line-height: calc(1.2 * 2.85vw);
    margin-left: 0.4vw;
}

.title p:last-of-type {
    color: transparent;
    background: linear-gradient(to bottom right, #00A1AB, #03F0FF, #00A1AB);
    background-clip: text;
    -webkit-background-clip: text;
    font-size: 6.37vw;
    line-height: calc(1.2 * 6.37vw);
    margin-left: 0;
}

.details {
     width: 80%;
     margin: 3vw 0 5vw 0;
}

.details p {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 1.5vw;
    line-height: calc(1.8 * 1.5vw);
}

.book-btn {
    text-decoration: none;
    background-color: #00A1AB;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 2.2vw;
    font-weight: bold;
    padding: 0.8vw 1.8vw;
    z-index: 5;
    width: 25%;
}

.book-btn:hover {
    cursor: pointer;
}

.blur-circle, .blur-circle-left {
    background-color: rgb(11, 129, 136, 0.77);
    filter: blur(12vw);
    width: 15vw;
    height: 15vw;
    border-radius: 100%;
    position: absolute;
    top: 38vw;
    left: 28vw;
    z-index: 2;
}

.blur-circle-left {
    left: -2vw;
    top: 19vw;
}

@keyframes reveal{
    from {
        opacity: 0;
        transform: translateY(20vw);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.body-on-screen{
    animation: reveal 1s ease-out forwards;
}

.body-content {
    display: flex;
    position: relative;
    background-color: #00263B;
    height: 80vw;
    width: 100%;
    margin-top: 13vw;
    z-index: 1;
    opacity: 0;
}

.event-card-container-bg {
    background: linear-gradient(to bottom, #00263B, rgb(11, 129, 136, 0.28), #00263B);
    width: 100%;
    height: 70vw;
    z-index: 9;
    position: absolute;
    filter: blur(0.8vw);
}

.event-card-container {
    background-color: transparent;
    width: 100%;
    height: fit-content;
    z-index: 10;
    padding: 10vw 15vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-x: hidden;
}

.event-card-title-container {
    width: 30vw;
    height: 5vw;
}

.event-card-title {
    color: white;
    line-height: 1.2vw;
    font-size: 3vw;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}

.event-card-shadow {
    position: absolute;
    color: rgb(0, 94, 100, 0.28);
    font-size: 7.8vw;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    line-height: 1.2vw;
    top: 9.7vw;
    left: 13vw;
    z-index: -1;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.event-card-carousel{
    display: flex;
    width: 100vw;
    margin-top: 2vw;
    margin-left: -8vw;
}

.carousel-slide {
    display: flex;
    width: 84vw;
    transform: translate(calc(-26.7vw));
    transition: 1s ease-in-out;
}

.carousel-slide > div {
    margin: 0 2vw;
    height: 33vw;
}

.carousel-slide > div img {
    width: auto;
    height: 33vw;
    position: relative;
    z-index: -1;
}

.slide-shadow {
    height: 33vw;
    width: 100%;
    position: absolute;
    left: 0vw;
    z-index: 1;
    box-shadow: 0 -7vw 30px black inset;
}

.carousel-desc {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    height: 12vw;
    color: white;
    text-align: center;
    font-weight: bolder;
    font-family: "Montserrat", sans-serif;
    position: relative;
    top: -8vw;
    z-index: 1;
}

.prev, .next {
    position: relative;
    width: 4vw;
    height: 33vw;
    display: flex;
    align-items: center;
}

.prev {
    left: 5vw;
    z-index: 1;
}

.next {
    right: 9.1vw;
}

.prev img, .next img {
    width: 100%;
    height: auto;
}

.carousel-desc p:first-of-type {
    font-size: 2.6vw;
    font-weight: 800;
}

.smaller p:first-of-type {
    font-size: 2vw;
    line-height: 3.4vw;
}

.carousel-desc p:nth-of-type(2) {
    font-size: 1.1vw;
}

.carousel-slide .offscreen {
    opacity: 0;
    transition: 1s ease-in-out;
}

.carousel-slide .offscreen p {
    opacity: 0;
    transition: 1s ease-in-out;
}

.carousel-slide .onscreen {
    opacity: 1;
    transition: 1s ease-in-out;
    filter: blur(0.8vw);
    transform: scale(0.9);
    z-index: 4;
}

.carousel-slide .onscreen p{
    opacity: 0;
    transition: 1s ease-in-out;
}

.carousel-slide .active {
    opacity: 1;
    transition: 1s ease-in-out;
    filter: blur(0);
    transform: scale(1);
    z-index: 5;
}

.carousel-slide .active p{
    opacity: 1;
    transition: 1s ease-in-out;
}

.blur-break-2 {
    width: 100%;
    align-self: center;
    background-color: #00263B;
    height: 8vw;
    z-index: 8;
    filter: blur(0.8vw);
    position: absolute;
    top: 123vw;
}

.blur-break-overlay-2 {
    position: absolute;
    width: 100%;
    height: 6vw;
    top: 124.3vw;
    background-color: #00263B;
    z-index: 7;
}

@keyframes revealRight {
    from {
        opacity: 0;
        transform: translateX(-30vw);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes revealLeft {
    from {
        opacity: 0;
        transform: translateX(30vw);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.poster-on-screen {
    animation: none 1s ease-in-out forwards;
}

.poster-on-screen .poster-section-title {
    animation: revealRight 1.25s ease-out forwards;
}

.poster-on-screen .poster-slider {
    animation: revealRight 1.25s ease-out forwards;
}

.poster-on-screen .poster-description {
    animation: revealLeft 1.25s ease-out forwards;
}

.poster-section {
    width: 100%;
    margin-top: -7vw;
    z-index: 1;
}

.poster-bg-container {
    width: 100vw;
    overflow: hidden;
    position: absolute;
}

.poster-section-bg {
    width: 100%;
    opacity: 0.42;
    z-index: -1;   
}

.poster-section-content {
    color: white;
    width: 100%;
    box-sizing: border-box;
    padding: 7vw;
}

.poster-section-title {
    font-family: "Montserrat", sans-serif;
    font-size: 4.5vw;
    font-weight: 800;
    line-height: calc(1.2 * 4.5vw);
    margin: 1vw 0 3vw 0;
    opacity: 0;
}

.poster-section-inner {
    width: 100%;
    display: flex;
    justify-content: start;
}

.poster-slider {
    width: 55%;
    overflow: hidden;
    opacity: 0;
}

.poster-slider hr {
    width: 100%;
}

@keyframes slide {
    0% {
        transform: translateX(-10vw);
    }
    100% {
        transform: translateX(calc(-10vw - (4 * 25vw)));
    }
}

.poster-slider-track {
    width: 80%;
    display: flex;
    padding: 4vw 0;
    animation: slide 20s linear infinite;
}

.poster-slider-track div {
    margin-right: 3vw;
}

.poster-slider-track div img {
    width: 22vw;
    height: auto;
}

.poster-description {
    margin-left: 6vw;
    height: 20vw;
    font-family: "Poppins", sans-serif;
    font-size: 1.5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    z-index: 2;
    opacity: 0;
}

.poster-description > div {
    display: flex;
    width: 25vw;
    align-items: center;
    justify-content: space-between;
}

.poster-description p {
    width: 20vw;
}

.icon-container {
    display: flex;
    width: 3.2vw;
    height: 3vw;
    justify-content: center;
}

.loc .icon-container img {
    width: 2.1vw;
    height: 3vw;
}

.time .icon-container img {
    width: 3.2vw;
    height: 2.6vw;
}

.blur-break-3 {
    width: 100%;
    align-self: center;
    background: linear-gradient(to bottom, #00263B, #00263B, #01253900);
    height: 8vw;
    z-index: 8;
    filter: blur(0.8vw);
    position: absolute;
    top: 191vw;
}

.blur-break-overlay-3 {
    position: absolute;
    width: 100%;
    height: 6vw;
    top: 191.8vw;
    background: linear-gradient(to bottom, #00263B, #00263B, #01253900);
    z-index: 7;
}

.footer {
    width: 100%;
    margin-top: 30vw;
    display: flex;
    flex-direction: column;    
}

.footer-img-container {
    position: absolute;
    transform: translateY(-23vw);
    display: flex;
    width: 100vw;
    overflow: hidden;
    z-index: -1;
}

.footer-img {
    width: 100%;
    height: auto;
    opacity: 0.47;
}

.footer-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    font-family: "Poppins", sans-serif;
    padding: 0 10vw;
    font-weight: 400;
    height: 11vw;
    margin-bottom: 1vw;
}

.footer-left p {
    font-size: 1.5vw;
    line-height: calc(1.2 * 1.5vw);
}

.ft-title {
    font-size: calc(2.4 * 1.5vw) !important;
    line-height: calc(1.2 * 2.4 * 1.5vw) !important;
}

hr {
    width: 80%;
    align-self: center;
    height: 0.15vw;
    background-color: white;
    border: none;
}

.footer-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40%;
}

.quick-links {
    display: flex;
    flex-direction: column;
}

.footer-right p, .quick-links a {
    font-size: calc(0.75 * 1.5vw);
    line-height: calc(1.2 * 0.9 * 1.5vw);
    font-weight: 300;
    text-decoration: none;
    color: white;
}

.quick-links a {
    margin: 0.04vw 0;
}

.quick-links a::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: #FF5200;
    transition: 0.5s ease-in-out;
}

.quick-links a:hover {
    transition: 0.5s ease-in-out;
    color: #FF5200;
}

.quick-links a:nth-of-type(1) {
    width: 3.4vw;
}

.quick-links a:nth-of-type(2) {
    width: 3.3vw;
}

.quick-links a:nth-of-type(3) {
    width: 5.2vw;
}

.quick-links a:nth-of-type(4) {
    width: 4.4vw;
}

.quick-links a:hover::after {
    width: 100%;
}

.ql-title, .contacts-title {
    font-size: calc(1.2 * 1.5vw) !important;
    font-weight: 600 !important;
    margin-bottom: 1.3vw;
}

.footer-bottom {
    color: white;
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2vw 10vw;
    font-size: calc(0.7 * 1.5vw);
}

.phone-number, .email-info {
    font-weight: 600;
    font-size: calc(0.8 * 1.5vw) !important;
    color: #00A1AB;
}

.footer-botright {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40%;
}

.footer-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 20%;
}

.footer-icons img {
    width: 2vw;
    height: 2vw;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

.footer-icons img:nth-child(3), .footer-icons img:nth-child(4) {
    width: 2.2vw;
    height: 1.8vw;
}

.chat-hover-icon, .email-hover-icon {
    position: absolute;
    z-index: -1;
}

.hidden {
    opacity: 0;
}

.email-hover-icon {
    transform: translateX(4.09vw);
}

@media only screen and (max-width: 820px) {

    .nav-bg {
        height: 15vw;
        filter: blur(0.8vw);
        transition: 0.5s ease-in-out;
    }

    .extend {
        height: 70vw;
    }

    .navbar {
        height: 12.5vw;
        flex-direction: row;
        justify-content: space-between;
        box-sizing: border-box;
        padding: 0 8vw;
        align-items: center;
    }

    .navbar .logo a {
        font-size: 5vw;
    }

    .navbar .menus {
        height: 0;
        width: 100vw;
        overflow: hidden;
        transition: 0.5s ease-in-out;
        z-index: 10;
        flex-direction: column;
        position: fixed;
        top: 12vw;
        left: 0;
        padding: 0;
    }

    .navbar .menus  a {
        font-size: 3.2vw;
        line-height: calc(1.2 * 4vw);
    }

    .show-menu {
        height: 50vw !important;
    } 
    
    .burger {
        display: flex;
    }

    .header {
        overflow: hidden;
        width: 90%;
        top: 95vw;
    }

    .header img {
        width: 150%;
        transform: translateX(-15vw);
    }

    .inner-header {
        width: 100%;
        height: 165vw;
    }

    .content1 {
        width: 90%;
        height: 130vw;
        margin-top: 14vw;
        margin-left: 0;
    }

    .title p {
        font-size: 7vw;
        line-height: calc(1.2 * 7vw);
        text-align: center;
        margin-top: 10vw;
    }

    .title p:last-of-type {
        font-size: 19vw;
        line-height: calc(1.1 * 19vw);
        margin: 7vw 0;
    }

    .details {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .details p {
        width: 70%;
        text-align: center;
        font-size: 3.5vw;
        line-height: calc(1.8 * 3.5vw);
    }

    .book-btn {
        width: 40%;
        text-align: center;
        font-size: 6vw;
        line-height: calc(1.2 * 6vw);
        padding: 2vw 4vw;
        margin-top: 14vw;
        margin-left: 22vw;
    }

    .blur-circle {
        display: none;
    }

    .blur-circle-left {
        width: 25vw;
        height: 25vw;
        filter: blur(18vw);
    }

    .body-content {
        height: 130vw;
    }

    .event-card-container {
        padding: 15vw 0;
    }

    .event-card-container-bg {
        height: 115vw;
    }

    .event-card-title-container {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .event-card-title {
        font-size: 6vw;
    }

    .event-card-shadow {
        font-size: 11vw;
        left: 26vw;
        top: 15.2vw;
    }

    .event-card-carousel {
        margin-top: 13vw;
        margin-left: 0vw;
    }

    .carousel-slide {
        width: 100vw;
        transform: translateX(-32.7vw);
    }

    .carousel-slide > div {
        height: 65vw;
        margin: 0 -6vw;
    }

    .carousel-slide > div img {
        height: 65vw;
    }

    .prev, .next {
        position: absolute;
        height: 65vw;
        width: 8vw !important;
    }

    .prev {
        left: 22.7vw;
    }

    .next {
        left: 67.8vw;
    }

    .carousel-slide .onscreen {
        transform: scale(0.8);
    }

    .slide-shadow {
        height: 65vw;
        box-shadow: 0 -13.5vw 30px black inset;
    }

    .carousel-desc {
        height: 20vw;
        top: -14vw;
    }

    .carousel-desc p:first-of-type {
        font-size: 4vw;
        line-height: calc(1.2 * 4vw);
    }
    
    .carousel-desc p:nth-of-type(2) {
        font-size: 2vw;
        line-height: calc(1.2 * 2vw);
    }

    .blur-break-2 {
        top: 296vw;
        filter: blur(0.5vw);
    }

    .blur-break-overlay-2 {
        top: 297.5vw;
    } 

    .poster-on-screen {
        animation: reveal 1s ease-out forwards;
    }

    .poster-section-title, .poster-slider, .poster-description {
        opacity: 1;
    }

    .poster-on-screen .poster-section-title {
        animation: none 1s ease-out forwards;
    }

    .poster-on-screen .poster-slider {
        animation: none 1s ease-out forwards;
    }
    
    .poster-on-screen .poster-description {
        animation: none 1s ease-out forwards;
    }

    .poster-bg-container {
        height: 130vw;
        align-items: center;
    }

    .poster-section-bg {
        height: 100%;
        width: auto;
    }

    .poster-section-title {
        width: 100%;
        text-align: center;
        font-size: 7vw;
        line-height: calc(1.2 * 7vw);
    }

    .poster-section-content {
        padding: 10vw 0;
    }

    .poster-section-inner {
        flex-direction: column;
        width: 100%;
    }

    @keyframes slide {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(calc(-1 * (4 * 46.9vw)));
        }
    }

    .poster-slider {
        width: 100%;
    }

    .poster-slider hr {
        height: 0.2vw;
    }

    .poster-slider-track div img {
        width: 44vw;
    }
    
    .poster-description {
        width: 100%;
        margin-left: 0;
        align-items: center;
        height: 25vw;
        margin-top: 5vw;
    }

    .poster-description > div {
        width: 50vw;
    }

    .poster-description p {
        font-size: 3vw;
        width: 40vw;
    }

    .icon-container {
        width: 6.4vw;
        height: 6vw;
    }

    .loc .icon-container img {
        width: 4.2vw;
        height: 6vw;
    }

    .time .icon-container img {
        width: 6.4vw;
        height: 5.2vw;
    }

    .blur-break-3 {
        top: 428vw;
        filter: blur(0.5vw);
    }

    .blur-break-overlay-3 {
        top: 428.8vw;
    }

    .footer-img-container {
        transform: translateY(-16vw);
    }

    .footer-top {
        height: 15vw;
    }

    .footer-left p {
        font-size: 3vw;
        line-height: calc(1.2*3vw);
    }

    .ft-title {
        font-size: calc(2.4 * 3vw) !important;
        line-height: calc(1.2 * 2.4 * 3vw) !important;
    }

    .quick-links {
        display: none;
    }

    .contacts {
        width: 100%;
    }

    .footer-right p {
        font-size: calc(0.75 * 3vw);
        line-height: calc(1.2 * 0.75 * 3vw);
    }

    .contacts-title {
        font-size: calc(1.2 * 3vw) !important;
        line-height: calc(1.2 * 1.2 * 3vw) !important;
    }

    footer hr {
        display: none;
    }

    .footer-botleft {
        display: none;
    }

    .footer-botright {
        width: 100%;
        justify-content: flex-end;
    }

    .footer-icons {
        width: 20%;
        margin-right: 16vw;
    }

    .footer-icons img {
        width: 5vw;
        height: 5vw;
    }

    .footer-icons img:nth-child(3), .footer-icons img:nth-child(4) {
        width: 5.5vw;
        height: 4.5vw;
    }

    .email {
        display: none;
    }
}

@media only screen and (max-width: 420px) {

    .nav-bg {
        height: 23vw;
        filter: blur(1.5vw);
        transition: 0.5s ease-in-out;
    }

    .extend {
        height: 100vw;
    }

    .navbar {
        height: 21.5vw;
        flex-direction: row;
        justify-content: space-between;
        box-sizing: border-box;
        padding: 0 8vw;
        align-items: center;
    }

    .navbar .logo a {
        font-size: 8vw;
    }

    .navbar .menus {
        height: 0;
        width: 100vw;
        overflow: hidden;
        transition: 0.5s ease-in-out;
        z-index: 10;
        flex-direction: column;
        position: fixed;
        top: 25vw;
        left: 0;
        padding: 0;
    }

    .navbar .menus  a {
        font-size: 5vw;
        line-height: calc(1.2 * 5vw);
    }

    .show-menu {
        height: 60vw !important;
    } 
    
    .burger {
        display: flex;
    }

    .burger div {
        width: 7vw;
    }

    .header {
        top: 130vw;
        width: 100%;
    }

    .header img {
        width: 170%;
        transform: translateX(-35vw);
    }

    .inner-header {
        height: 225vw;
    }

    .content1 {
        margin-top: 22vw;
        width: 100vw;
    }

    .title p {
        font-size: 9vw;
        line-height: calc(1.2 * 9vw);
    }

    .title p:last-of-type {
        font-size: 25vw;
        line-height: calc(1.1 * 25vw);
    }

    .details p {
        width: 80%;
        font-size: 4.8vw;
        line-height: calc(1.8 * 4.8vw);
    }

    .book-btn {
        width: 50%;
        font-size: 8vw;
        line-height: calc(1.2 * 8vw);
        padding: 2vw 3vw;
        margin-top: 20vw;
    }

    .body-content {
        height: 195vw;
    }

    .event-card-container-bg {
        height: 175vw;
    }

    .event-card-title {
        font-size: 10vw;
        line-height: calc(1.2 * 10vw);
    }

    .event-card-shadow {
        font-size: 20vw;
        left: 10vw;
        top: 20.7vw;
    }

    .prev, .next {
        height: 100vw;
    }

    .prev {
        left: 11.5vw;
    }

    .next {
        left: 81vw;
    }

    .event-card-carousel {
        margin-top: 30vw;
        margin-left: -23vw;
    }

    .carousel-slide {
        transform: translateX(-48.8vw);
    }

    .carousel-slide > div {
        height: 100vw;
        margin: 0 -10vw;
    }

    .carousel-slide > div img {
        height: 100vw;
    }

    .carousel-desc {
        height: 30vw;
        top: -20vw;
    }
    
    .carousel-desc p:first-of-type {
        font-size: 7vw;
        line-height: calc(1.2 * 7vw);
    }

    .smaller p:first-of-type {
        font-size: 6vw;
        line-height: 7.2vw;
    }

    .carousel-desc p:last-of-type {
        font-size: 4vw;
        line-height: calc(1.2 * 4vw);
    }

    .slide-shadow {
        height: 100vw;
        box-shadow: 0 -21vw 30px black inset;
    }

    .blur-break-2 {
        top: 420vw;
    }

    .blur-break-overlay-2 {
        top: 421vw;
    }

    .poster-bg-container {
        height: 195vw;
    }

    .poster-section-title {
        font-size: 10vw;
        line-height: calc(1.2 * 10vw);
    }

    @keyframes slide {
        0% {
            transform: translateX(0vw);
        }
        100% {
            transform: translateX(calc(-1 * (4 * 75.6vw)));
        }
    }

    .poster-slider-track div {
        margin-right: 5vw;
    }

    .poster-slider-track div img {
        width: 70vw;
    }

    .poster-slider hr {
        height: 0.3vw;
    }

    .poster-description {
        height: 60vw;
    }

    .poster-description > div {
        width: 80vw;
    }

    .poster-description p {
        font-size: 5vw;
        line-height: calc(1.2 * 5vw);
        width: 60vw;
    }

    .icon-container {
        width: 12.8vw;
        height: 12vw;
    }

    .loc .icon-container img {
        width: 8.4vw;
        height: 12vw;
    }

    .time .icon-container img {
        width: 12.8vw;
        height: 10.4vw;
    }

    .blur-break-3 {
        top: 616vw;
    }

    .blur-break-overlay-3 {
        top: 616.5vw;
    }

    .footer-img-container {
        transform: translateY(-25vw);
    }

    .footer-img {
        width: 150%;
    }

    .footer-top {
        height: 25vw;
        padding: 0 3vw;
    }

    .footer-left p {
        font-size: 4.5vw;
        line-height: calc(1.2 * 4.5vw);
    }

    .ft-title {
        font-size: calc(2.4 * 4.5vw) !important;
        line-height: calc(1.2 * 2.4 * 4.5vw) !important;
    }

    .footer-right {
        width: 43%;
    }

    .footer-right p {
        font-size: calc(0.75 * 4.5vw);
        line-height: calc(1.2 * 0.75 * 4.5vw);
    }

    .contacts-title {
        font-size: calc(1.2 * 4.5vw) !important;
        line-height: calc(1.2 * 1.2 * 4.5vw) !important;
    }

    .footer-bottom {
        padding: 2vw 4vw;
    }

    .footer-icons {
        width: 23%;
        margin-right: 19vw;
    }

    .footer-icons img {
        width: 7vw;
        height: 7vw;
    }

    .footer-icons img:nth-child(3), .footer-icons img:nth-child(4) {
        width: 7.5vw;
        height: 6.5vw;
    }
}